<div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
	<div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
		<a class="d-flex justify-content-center" href="https://www.wrappixel.com/" target="_blank">
			<img src="/Spike-Bootstrap-1.0.0/src/assets/images/logos/logo-wrappixel.svg" alt="" width="150">
		</a>

		<div class="d-none d-xl-flex align-items-center gap-3">
			<a href="https://support.wrappixel.com/"
			   class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
				<i class="ti ti-lifebuoy fs-5"></i>
				Hakkımızda
			</a>
			<a href="https://www.wrappixel.com/"
			   class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
				<i class="ti ti-gift fs-5"></i>
				Misyon
			</a>
			<a href="https://www.wrappixel.com/hire-us/"
			   class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
				<i class="ti ti-briefcase fs-5"></i>
				Vizyon
			</a>
		</div>
	</div>
</div>